@import './utils/var';
@import './utils/visually-hidden';
@import './utils/mix';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/mobile-menu';
@import './components/titles';
@import './components/logo';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-forms';
@import './components/modal-submit-button';

@import './layout/header';
@import './layout/hero';
@import './layout/activities';
@import './layout/employment';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio-buttons';
@import './layout/gallery';