.clients-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .clients-social-list__icon {
    @include flex-center;

    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: fill var(--transition-time-cubic),
      border-color var(--transition-time-cubic);

      &:hover,
      &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
      }
  }

  @media screen and (min-width: 768px) {
    .clients-social-list__icon {
      width: 226px;
    }
  }

  @media screen and (min-width: 1200px) {
    .clients-social-list__icon {
      width: 170px;
    }
  }
