.footer {
    background-color: var(--background-color-footer);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-mail,
  .footer-tel {
    color: rgba(255, 255, 255, 0.6);
  }

  .footer-address {
    color: #ffffff;
  }

  .footer-list {
    font-weight: 400;
    font-size: 14px;
    line-height: (24/14);
    letter-spacing: 0.03em;

    & li:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: (16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .footer-social-icon {
    @include flex-center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-time-cubic);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

    //! Ссылки
    .footer-list .link {
      transition: color var(--transition-time-cubic);
  
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

      //! Форма в футере
  .footer-input {
    max-width: 450px;
    width: 100%;
    height: 50px;
    color: hsl(0, 0%, 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--background-color-footer);
    padding: 15px 16px;
    transition: border-color var(--transition-time-cubic);

    margin-bottom: 20px;

    &::placeholder {
      font-size: 16px;
      line-height: (20/16);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  
    &:focus {
      border-color: var(--accent-color);
      outline: none;
    }
  }

  .maine-footer-address, .footer-social {
    text-align: center;
    margin-bottom: 60px;
  }

  .footer-mail{
    text-align: center;
  }

    //! Кнопка футера
    .footer-button {
      @include flex-center;
  
      font-weight: 700;
      font-size: 16px;
      line-height: (30/16);
      letter-spacing: 0.06em;
      min-width: 200px;
      height: 50px;
      padding: 10px;
      background-color: var(--accent-color);
      color: #ffffff;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;

      margin-left: auto;
      margin-right: auto;
    }

    .footer-send-icon {
      margin-left: 10px;
    }



  @media screen and (min-width: 768px) {
    .footer-logo-address-and-social-wrapper {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    .maine-footer-address {
      margin-right: 165px;
    }
  }

  @media screen and (min-width: 1200px) {
       .footer-container {
      display: flex;
      align-items: baseline;
    }

    .maine-footer-address, .footer-social, .footer-mail {
      text-align:left;
      margin-bottom: 0;
    }

    .footer-social {
      margin-right: 93px;
    }

    .maine-footer-address {
      margin-right: 70px;
    }

    .footer-label {
      display: flex;
    }

    .footer-input {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }

    .footer-button {
      margin: 0;
    }

    .footer-list {
      width: 231px;
      & li:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }

  // .footer-list {
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: (24/14);
  //   letter-spacing: 0.03em;

  //   & li:not(:last-child) {
  //     margin-bottom: 9px;
  //   }
  // }

  // .footer-container {
  //   display: flex;
  //   align-items: baseline;
  // }

  // .maine-footer-address {
  //   margin-right: 70px;
  // }


  //! Форма в футере
  // .footer-input {
  //   width: 358px;
  // }

  // .footer-mail {
  //   margin-right: 0;
  //   margin-left: auto;
  // }

  //! Кнопка футера
  // .footer-button {
  //   margin-left: 12px;
  // }

  // .footer-label {
  //   display: flex;
  // }

