  .background {
    max-width: 1600px;
    min-height: 400px;
    margin: 0 auto;
    background-color: var(--background-color-hero);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: padding-box;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), 
  screen and (min-resolution: 192dpi) and (max-width: 767px), 
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .background {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile2x.jpg);
    }
  }

.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }

    .hero__title {
    color: var(--hero-title-color);
  
    max-width: 360px;
    margin: 0 auto 30px auto;
  
    font-weight: 900;
    font-size: 26px;
    line-height: (42/26);
  
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

    .hero__button {
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
  
    font-family: var(--button-font);
    font-weight: 700;
    font-size: 16px;
    line-height: (30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  
    min-width: 200px;
    padding: 10px 24px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-time-cubic);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  @media screen and (min-width: 768px) {
    .background {
      min-height: 400px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-tablet1x.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), 
  screen and (min-resolution: 192dpi) and (min-width: 768px), 
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .background {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    .background {
      min-height: 600px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero.jpg);
    }

      .hero {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    .hero__button {
      min-width: 216px;
      padding: 10px 32px;
    }

    .hero__title {
      font-size: 44px;
      line-height: (60/44);
      max-width: 696px;
    }
  }
  
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), 
  screen and (min-resolution: 192dpi) and (min-width: 1200px), 
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .background {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero2x.jpg);
    }
  }
