  .logo,
  .footer-logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 24px;
    line-height: (28/24);
    letter-spacing: 0.03em;
  }

  .logo {
    color: #000000;

    & > span {
      color: var(--brand-color);
    }
  }

  .footer-logo {
    color: #ffffff;
  }

// .logo {
//     color: #000000;
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;

//     & > span {
//       color: var(--brand-color);
//     }
//   }
  
//   .footer-logo {
//     color: #ffffff;
//     margin-bottom: 20px;

//     & > span {
//       color: var(--brand-color);
//     }
//   }

//   .logo,
//   .footer-logo {
//     font-family: var(--logo-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     display: block;
//   }