.for-icon {
    display: block;
    position: relative;
  }

  .contact-form > p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    margin-top: 0;
  }

  .forms {
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-time-cubic);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
  }

  .user-info {
    height: 40px;
    padding-left: 42px;
  }

  .field {
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }

  .coment-area {
    height: 120px;
    padding: 12px 16px;
    resize: none;

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  .field-area {
    margin-bottom: 20px;
  }
  
  .icon-forms {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill var(--transition-time-cubic);

    .user-info:focus + & {
      fill: var(--accent-color);
    }
  }
  
  //! Чекбокс  модалки
  .agreement-label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 30px;

    & a {
      color: var(--accent-color);
    }
  }

  .check {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
  
    margin-right: 7px;
    transition: background-color var(--transition-time-cubic);

    .form-check:checked + & {
      background-color: var(--accent-color);
      border: 2px solid var(--accent-color);
    }
  
    .form-check:focus + & {
      border: 2px solid var(--accent-color);
    }
  }

  .icon-check {
    display: none;
    fill: #ffffff;

    .form-check:checked + .check & {
      display: block;
    }
  }

  .form-check {
    position: absolute;
    appearance: none;
  }